/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/

header {
    width: 100%;
    background-image: url('../images/header_bg.jpg');
    background-position: calc(50% - 10px) 50%;
    background-repeat: no-repeat;
}

header .middle {
    width: 980px;
    height: 782px;
    margin: 0px auto;
    border: 1px solid red;
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.main-navigation ul li {
    padding: 7px 28px;
}

.main-navigation ul li a {
    color: #000000;
    font-size: 14px;
}

.main-navigation ul ul {
    background: #4a4967;
    border-radius: 4px;
    float: left;
    position: absolute;
    top: 2.2em;
    left: -999em;
    z-index: 99999;
    /*margin-top: 20px;*/
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul a {
    width: 180px;
    color: #fff;
    font-weight: 300;
}

.main-navigation ul ul li {
    border-bottom: 1px solid #78778d;
    padding: 7px 20px;
}

.main-navigation ul ul li:last-of-type {
    border: 0px !important;
}

.main-navigation ul ul li:first-of-type {
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
}

.main-navigation ul ul li:last-of-type {
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.main-navigation ul li:hover,
.main-navigation ul li.focus {
    background: #fff;
    border-radius: 17px;
}
.main-navigation ul li:hover > a,
.main-navigation ul li.focus > a {
 
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {

}

.main-navigation ul ul li:hover, 
.main-navigation ul ul li.focus {
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #78778d;
}

.main-navigation ul ul li:hover a,
.main-navigation ul ul li.focus a {
    color: #4c4b68;

}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
